<div class="container p-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/doctors/add" method="post" class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" autofocus required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" name="apellidoP" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" name="apellidoM" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Usuario</label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" name="usuario" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cedula</label>
                            <input type="text" class="form-control" name="cedula" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Teléfono</label>
                            <input type="text" class="form-control" name="telefono" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Turno</label>
                            <select class="form-select" aria-label="Default select example" name="turno" required>
                                <option selected>Selecciona el Turno</option>
                                <option value="1">Mañana</option>
                                <option value="2">Tarde</option>
                                <option value="3">Noche</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>