<div class="container p-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="alert alert-danger" role="alert">
                
            </div>
        </div>
    </div>
</div>